@page "/"
@using ElPro.Shared;
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Hello, world!</h1>

Welcome to your new app.
<hr />
<button @onclick="GetRoles">Roles</button>
@foreach (var role in RoleName)
{
	<p>@role.Name</p>
}


@code {
	private List<UserRoleList> RoleName = new();
	//private string userId;

	private async Task<string> GetClaimsPrincipalData()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

		if (authState.User.Identity.IsAuthenticated)
		{
			return authState.User.FindFirst(c => c.Type == "sub")?.Value;
		}
		else
		{
			return String.Empty;
		}
	}

	private async Task GetRoles()
	{
		var userId = await GetClaimsPrincipalData();
		RoleName = await Http.GetFromJsonAsync<List<UserRoleList>>($"user/roles/{userId}");
	}
}
